div.section1 {
    background-color: lavenderblush;
    button {
        margin-left: 600px;
        font-size: 40px;
    }
}
h1 {
    font-size:50px;
    color:deeppink;
    text-align: center;
    font-family:'Courier New';
}
h2 {
    margin-top:100px;
    margin-left:90px;
    font-size:35px;
    color:deeppink;
    font-family:'Courier New';
}
p {
    text-align: center;
    font-size:20px;
    font-family:'Courier New';
}
button {
    margin:10px;
    background-color:lightpink;
    cursor: pointer;

    border: none;
    border-radius: 25px;

    text-align: center;
    font-size: 25px;
    color:deeppink;
}
button:hover {
    background-color:deeppink;

    color:lightpink;
}